<%- include("../partials/header") %> 

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h2>Chat Menu:</h2>
                <h4>How does the chat works?</h4>
                <ul>
                    <li>A chat has a maximum size of 2 persons</li>
                    <li>You can only start a chat with someone that is logged in</li>
                </ul>
            </div>
        </header>
        <hr>
        <div class="row" style="margin-top: 3%;">
            <div class="col-md-6">
                <header class="jumbotron">
                    <div class="container">      
                        <p>      
                            <a class="btn btn-success btn-large" href="/chat/new">
                                Create new Chat
                                <i class="fas fa-plus"></i>
                            </a>
                        </p>
                        <p> My Chats: </p>
                        <div style="display:flex; flex-wrap: wrap;">
                            <% chats.forEach(function(chat){ %>
                                <% if(chat.member1.username == currentUser.username){ %>
                                    <p>
                                        <a href="/chat/<%= chat._id %>" class="btn btn-primary">
                                            <%=chat.member2.username%>
                                            <i class="fas fa-chevron-circle-right"></i>
                                        </a>
                                    </p>
                                <% } else if(chat.member2.username == currentUser.username){%>
                                    <p>
                                        <a href="/chat/<%= chat._id %>" class="btn btn-primary">
                                            <%=chat.member1.username%>
                                            <i class="fas fa-chevron-circle-right"></i>
                                        </a>
                                    </p>
                                <% }}); %>
                        </div>
                    </div>  
                </header>
            </div>
        
            <div class="col-md-6">
                <div class="container">   
                    <header class="jumbotron">
                        <p> Logged Users: </p>
                        <div class="row text-center" style="display:flex; flex-wrap: wrap;">
                            <% users.forEach(function(user){ %>
                                <% if(user.online && user.username!=currentUser.username){ %>
                                    <div class="col-md-3 col-sm-6">
                                        <div class="thumbnail">
                                        <button class="btn btn-info btn-medium"> <%=user.username%> </button>
                                        </div>
                                    </div>
                                <% } %>
                            <% }); %>
                        </div> 
                    </header>
                </div>
            </div>

        </div>
    </div>

<%- include("../partials/footer") %>
  