<%- include("../partials/header") %> 

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="thumbnail">
                <div class="caption-full">
                    <div class="row">                                 
                        <div class="col-md-10">
                            <% if(chat.member1.username == currentUser.username){ %>
                                <h4>Chatting with: <a><%=chat.member2.username%></a></h4>
                            <% } else {%>
                                <h4>Chatting with: <a><%=chat.member1.username%></a></h4>
                            <% } %>    
                        </div>
                        <div class="col-md-2">
                            <button class="btn btn-xs btn-success">
                                <a href="/chat/<%= chat._id %>/video" style="color:white">Start Video Chat</a>  
                            </button>   
                        </div>      
                    </div>                       

                    <div class="row">                                 
                        <div class="col-md-10">
                            <p>Creation date: <%= chat.creationDate %></p>
                        </div>
                        <div class="col-md-2">
                            <% if(currentUser && (chat.member1.id.equals(currentUser._id)||chat.member2.id.equals(currentUser._id))){ %>
                                <form class="delete-form" action="/chat/<%= chat._id %>?_method=DELETE" method="POST">
                                    <button class="btn btn-xs btn-danger">Delete Chat</button>
                                </form>
                            <% }%>                 
                        </div>      
                    </div>                                         
                </div>
            </div>

            <div class="well">
                <h2 style="text-align: center">Send a message...</h1>
                <div style="width: 30%; margin: 25px auto;">
                    <form action="/chat/<%= chat._id %>/messages" method="POST">
                        <div class="form-group">
                            <div class="row" style="margin-top:10px;">
                                <textarea id="textMessage" name="message[text]" placeholder="text"></textarea>
                                <script type="text/javascript">
                                    $(document).ready(function() {
                                        $("#textMessage").emojioneArea();
                                    });
                                </script>                                
                            </div>                          
                        </div>
                        <div class="form-group">
                            <button class="btn btn-lg btn-primary btn-block">Send!</button>
                        </div>
                    </form>
                </div>
            </div>

            <div>
                <hr>
                <% chat.messages.forEach(function(message){ %>
                    <div class="row">
                        <div class="col-md-10">
                            <strong><%= message.author.username %></strong>
                            <p> <%= message.text %> </p>
                        </div>
                        <div class="col-md-1">
                            <% if(message.sentiment == "positive"){ %>
                                <h4> :) </h4>
                            <% } else if(message.sentiment == "neutral"){ %>
                                <h4> :| </h4>
                            <% } else if(message.sentiment == "negative"){ %>
                                <h4> :( </h4>
                            <% } %>
                        </div>
                        <div class="col-md-1">
                            <% if(currentUser && message.author.id.equals(currentUser._id)){ %>
                                <form class="delete-form" action="/chat/<%=chat._id %>/messages/<%=message._id %>?_method=DELETE" method="POST">
                                    <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                                </form>
                            <% } %>                        
                        </div>
                    </div>
                <% }) %>
            </div>

            <a href="/chat">Go Back to Chat Menu</a>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>