<%- include("../partials/header") %>

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="caption-full">
                    <% if(chat.member1.username == currentUser.username){ %>
                        <h4>Chatting with: <a><%=chat.member2.username%></a></h4>
                    <% } else {%>
                        <h4>Chatting with: <a><%=chat.member1.username%></a></h4>
                    <% } %>    
                    <div class="row">    
                        <div class="col-md-10">                            
                            <p>Creation date: <%= chat.creationDate %></p>   
                        </div> 
                        <div class="col-md-2">   
                            <button class="btn btn-xs btn-success">
                                <a href="/chat/<%= chat._id %>" style="color:white">Get Back to Chat</a>  
                            </button>   
                        </div> 
                    </div>                                         
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
                <video id="video1" width="100%" height="100%" autoplay></video>
        </div>
        <div class="col-md-6">
                <video id="video2" width="100%" height="100%" autoplay></video>
        </div>
    </div>    
</div>

<!-- After computing this scripts, google asks permission to use camera and audio -->
<!-- Scripts are here, because only the 2 authorized id's can access this route -->
<script type="text/javascript" src="/videoServer.js"></script>
<script type="text/javascript" src="/bundle.js"></script>    

<%- include("../partials/footer") %>