<%- include("../partials/header") %> 

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="caption-full">
                    <% if(chat.member1.username == currentUser.username){ %>
                        <h4><a><%=chat.member2.username%></a></h4>
                    <% } else {%>
                        <h4><a><%=chat.member1.username%></a></h4>
                    <% } %>                    
                    <p><%= chat.creationDate %></p>

                    <% if(currentUser && (chat.member1.id.equals(currentUser._id)||chat.member2.id.equals(currentUser._id))){ %>
                        <form id="delete-form" action="/chatMenu/<%= chat._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>